[Unit]
Description=Idaho Frontend

[Service]
User=root
WorkingDirectory=/opt/projects/idaho/idaho/client/dist
ExecStart=/root/.virtualenvs/idaho/bin/python -m SimpleHTTPServer 80

[Install]
WantedBy=multi-user.target
Alias=idaho-frontend.service
