<h3 style="margin-bottom: 20px">New Text Entry</h3>
<form>
  <div class="form-group">
    <input type="text" class="form-control" name="title" placeholder="Title"
           [(ngModel)]="title">
  </div>
  <div class="form-group">
    <textarea type="text" class="form-control" name="message"
              placeholder="How did your day go?"
              style="height: 240px"
              [(ngModel)]="message"></textarea>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary"
            (click)="publishTextEntry(title, message)">Publish</button>
    <button type="submit" class="btn btn-danger">Abort</button>
  </div>
</form>
