<h3>New Text Entry</h3>
<form #form="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" name="title" placeholder="Title"
           [(ngModel)]="title" required>
  </div>
  <div class="form-group">
    <textarea type="text" class="form-control" name="message"
              placeholder="How did your day go?" required
              style="height: 240px"
              [(ngModel)]="message"></textarea>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary"
            [disabled]="!form.valid"
            (click)="publishTextEntry(title, message, form);">Publish</button>
    <button type="button" class="btn btn-danger"
            (click)="abort()">Abort</button>
  </div>
</form>
