<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top"
       style="opacity: 0.9">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/" title="Home">
      <span style="display: flex; align: baseline">
        <img src="assets/Graphicloads-Colorful-Long-Shadow-Diary.ico"
           width="32" height="32" alt=""
           style="margin-right: 10px">
        <span>
          <b>idaho</b>
          <span style="margin-left: 5px; margin-right: 60px; opacity: 0.7">
            my own private diary
          </span>
        </span>
      </span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav"
         style="justify-content: flex-end">
      <ul class="navbar-nav">
        <!-- Write/read section -->
        <li class="nav-item" *ngIf="authService.isLoggedIn" title="Write Text">
          <a class="nav-link" routerLink="/write/text" routerLinkActive="active">
            <i class="fa fa-pencil" style="font-size: 1.5em"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn" title="Record Audio">
          <a class="nav-link" routerLink="/write/audio" routerLinkActive="active">
            <i class="fa fa-microphone" style="font-size: 1.5em"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn" title="Capture Image">
          <a class="nav-link" routerLink="/write/image" routerLinkActive="active">
            <i class="fa fa-camera" style="font-size: 1.5em"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn" title="Read your Diary">
          <a class="nav-link" routerLink="/read" routerLinkActive="active">
            <i class="fa fa-book" style="font-size: 1.5em"></i>
          </a>
        </li>
        <!-- Login/logout section -->
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.isLoggedIn">
            Please authenticate
          </a>
          <a class="nav-link" *ngIf="authService.isLoggedIn">
            Welcome, {{ authService.getLoggedInUser() }}
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn" title="Logout">
          <a class="nav-link" (click)="authService.logout()">
            <i class="fa fa-sign-out" style="font-size: 1.5em"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn" title="Login">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <i class="fa fa-sign-in" style="font-size: 1.5em"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="margin: 20px; margin-top: 80px">
    <router-outlet></router-outlet>
  </div>
</div>
