<div class="container" style="max-width: 800px">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary"
       style="opacity: 0.95">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <span style="display: flex; align: baseline">
        <img src="assets/Graphicloads-Colorful-Long-Shadow-Diary.ico"
           width="32" height="32" alt=""
           style="margin-right: 10px">
        <span>
          <b>idaho</b>
          <span style="margin-left: 5px; margin-right: 60px; opacity: 0.7">
            my own private diary
          </span>
        </span>
      </span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav"
         style="justify-content: flex-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/write/text" routerLinkActive="active">
            <i class="fa fa-pencil"></i> Text
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/write/audio" routerLinkActive="active">
            <i class="fa fa-microphone"></i> Audio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/write/image" routerLinkActive="active">
            <i class="fa fa-camera"></i> Image
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/read" routerLinkActive="active">Read</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn">
          <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="margin: 20px">
    <router-outlet></router-outlet>
  </div>
</div>
