<h3>New Image Entry</h3>
<form #form="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" name="title" placeholder="Title"
           [(ngModel)]="title" required>
  </div>
  <div class="form-group">
    <img type="file" [src]="src" [hidden]="!src">
    <br>
    <input type="file" class="form-control" name="image"
           image-upload (imageSelected)="imageSelected($event)">
           <!--[resizeOptions]="resizeOptions">`-->
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary"
            (click)="publishImageEntry(title, form)">Publish</button>
    <button type="button" class="btn btn-danger"
            (click)="abort()">Abort</button>
  </div>
</form>
